.post-wrap {
	.post-details {
		font-size:12px;
		color:#bbb;
	}
	.hires-link {
		color:#A3CBEE;
	}
	.img-wrap {
		.post-img:hover {
			cursor:pointer;
			opacity:.9;
		}
	}
}

@media (min-width:731px) {
	.page-wrap {
		.post-wrap {
			.img-wrap {
				margin:0 0 70px;
				&:last-child {
					margin:0;
				}
			}
			.post-img,
			.post-details {
				width:700px;
				margin:0 auto;
			}
		}
	}
}

@media (max-width:730px) {
	.page-wrap {
		.post-wrap {
			.img-wrap {
				margin:0 0 30px;
			}
			.post-img,
			.post-details {
				width:100%;
			}
		}
	}
}