.post-wrap {
	.img-view	{

	}
}

@media (min-width:1131px) {
	.page-wrap {
		.post-wrap {
			.img-view {
				width:1100px;
				margin:0 auto;
			}
		}
	}
}

@media (max-width:1130px) {
	.page-wrap {
		.post-wrap {
			.img-view {
				width:100%;
			}
		}
	}
}